$bannerFont: pompiere;
$inputHeight: 65px;
$inputSize: 25px;
$inputWidth: 50%;

#banner {
    width: 100%;
    height: 670px;
    background-image: url("/static/images/apartments.jpg");
    margin-top: -53px;
    color: white;
    h1 {
        font-family: $bannerFont;
        font-size: 80px;
        font-weight: normal;
    }
    input {
        font-family: gudea;
    }
}
#search-block {
    position: relative;
    top: 200px;
}
.params {
    display: inline;
    font-size: 20px;
    margin-right: 35px;
    font-weight: bold;
    padding: 5px;
}
.params:hover {
    cursor: pointer;
    border-bottom: 5px solid $hoverColor;
}
#search-go {
    width: 80%;
    position: relative;
    margin: 0 auto;
    text-align: left;
    bottom: 30px;
}
.go {
    float: left;
    height: $inputHeight;
}
#search {
    width: $inputWidth;
    font-size: $inputSize;
    padding-left: 10px;
}
.input-sim {
    margin-left: 10px;
    width: $inputWidth / 3;
    text-align: center;
    background-color: white;
    color: grey;
    border: 1px solid darkgrey;
    padding: -20px;
    h3 {
        font-weight: normal;
        position: relative;
        bottom: 5px;
        font-size: $inputSize;
    }
}
.fa-arrow-down {
    color: greenyellow;
    margin-left: 20px;
    transition: all .5s;
}
.fa-arrow-down:hover {
    transform: rotate(180deg);
}
.input-sim:hover {
    cursor: pointer;
}
#send {
    width: 100px;
    margin-left: 10px;
    border: 1px solid $hoverColor;
    background-color: $hoverColor;
    color: white;
    font-size: $inputSize;
    font-weight: bold;
    border-radius: 5px;
    transition: color 1s;
}
#send:hover {
    cursor: pointer;
    background-color: white;
    color: $hoverColor;
}

//media queries

@media screen and (max-width: 1415px) {
    #search {
        font-size: 20px;
    }
    #rent-range, #bed-bath {
        font-size: 20px;
        top: 5px;
    }
}
@media screen and (max-width: 1230px) {
    #search {
        width: 35%;
        font-size: 15px;
    }
    .go {
        height: 55px;
    }
    #rent-range, #bed-bath {
        top: 0px;
        font-size: 15px;
    }
}
@media screen and (max-width: 1011px) {
    #search {
        width: 80%;
        font-size: 25px;
    }
    .input-sim {
        display: none;
    }
}