$bannerFont: pompiere;
$inputHeight: 65px;
$inputSize: 25px;
$inputWidth: 50%;

#banner {
    width: 100%;
    height: 670px;
    background-image: url("/static/images/apartments.jpg");
    margin-top: -53px;
    color: white;
    h1 {
        font-family: $bannerFont;
        font-size: 80px;
        font-weight: normal;
    }
    input {
        font-family: gudea;
    }
}
#search-block {
    position: relative;
    top: 200px;
}
.params {
    display: inline;
    font-size: 20px;
    margin-right: 35px;
    font-weight: bold;
    padding: 5px;
}
.params:hover {
    cursor: pointer;
    border-bottom: 5px solid $hoverColor;
}
#search-go {
    width: 80%;
    position: relative;
    margin: 0 auto;
    text-align: left;
    bottom: 30px;
}
.go {
    float: left;
    height: $inputHeight;
}
#rent-range {
    display: inline-block;
}
#search {
    width: $inputWidth;
    font-size: $inputSize;
    padding-left: 10px;
    font-family: $font;
    color: #6D6C6C;
}
.input-collapse, .section-collapse-bb {
    width: 100%;
    background-color: white;
    position: relative;
    bottom: 18px;
    height: 400px;
    box-shadow: 0 4px 2px -2px #777777;
    display: none;
}
.input-collapse, .section-collapse-bb {
    /*width: 100%;
    background-color: white;
    position: relative;
    bottom: 18px;
    height: 400px;
    box-shadow: 0 4px 2px -2px #777777;*/
    //display: none;
    .drop-inputs {
        background-color: white;
    }
    .col-rent {
        height: 40px;
        width: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin: 5px;
        padding: 5px;
        font-family: $font;
        //transition: all .5s;
    }
    .col-rent:focus {
        border: 2px solid $hoverColor;
    }
    #min-column, #max-column {
        overflow: auto;
        width: 100%;
        height: 338px;
        border: none;
    }
    #max-column {
        display: none;
    }
    #max-column {
        text-align: right;
    }
    
}
select:focus {
    border: 0px solid white;
}
option {
    padding: 10px;
    font-family: $font;
    font-size: 18px;
    transition: all .3s
}
option::selection {
    background-color: green;
}
option:hover {
    background-color: $hoverColor;
    color: white;
    cursor: pointer;
}
#beds, #baths {
    overflow: auto;
    display: block;
    width: 100%;
    outline: none;
    padding-top: 5px;
}
#beds {
    border-top: none;
}
#baths {
    border-right: none;
    border-left: none;
}
.input-collapse-drop {
    display: initial;
}
.min-column-drop {
    display: initial;
}
.input-sim {
    margin-left: 10px;
    width: $inputWidth / 3;
    text-align: center;
    background-color: white;
    color: grey;
    border: 1px solid darkgrey;
    padding: -20px;
    transition: all .5s;
    h3 {
        font-weight: normal;
        position: relative;
        bottom: 5px;
        font-size: $inputSize;
    }
}
#arrow-wrap {
    width: 100%;
    margin: 0px;
}
#bed-bath {
    display: inline-block;
}
.arrow-rent, .arrow-bed-bath {
    color: greenyellow;
    margin-left: 20px;
    transition: all .5s;
}
.fa-arrow-down-rotate {
    transform: rotate(180deg);
}
.input-sim:hover {
    cursor: pointer;
}
#send {
    width: 100px;
    margin-left: 10px;
    border: 1px solid $hoverColor;
    background-color: $hoverColor;
    color: white;
    font-size: $inputSize;
    font-weight: bold;
    border-radius: 5px;
    transition: color 1s;
}
#send:hover {
    cursor: pointer;
    background-color: white;
    color: $hoverColor;
}

//media queries

@media screen and (max-width: 1415px) {
    #search {
        font-size: 20px;
    }
    #rent-range, #bed-bath {
        font-size: 20px;
        top: 5px;
    }
}
@media screen and (max-width: 1230px) {
    #search {
        width: 35%;
        font-size: 15px;
    }
    .go {
        height: 55px;
    }
    #rent-range, #bed-bath {
        top: 0px;
        font-size: 15px;
    }
}
@media screen and (max-width: 1011px) {
    #search {
        width: 80%;
        font-size: 25px;
    }
    .input-sim {
        display: none;
    }
}