$mainBox: 500px;

main {
    color: #6D6C6C;
    h2 {
        font-size: 50px;
        margin-bottom: 5px;
    }
    p {
        font-size: 1.8vmin;
    }
    h3 {
        font-size: 40px;
        margin-bottom: 10px;
    }
}
#about {
    width: 46%;
    margin: 0 auto;
}
.image-cont {
    color: white;
    width: 85%;
    margin: 0 auto;
    transition: width .5s;
}
.images {
    margin: 2px;
    width: 35%;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    transition: all .5s;
    p, h3 {
        position: relative;
        top: 58%;
        left: 20px;
        text-align: left;
    }
    p {
        font-weight: bold;
        width: 90%;
        margin: 0px;
    }
}
.children {
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    transition: all .5s;
    margin-top: -39px;
    z-index: 1
}
.children:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    z-index: 2;
}
#about {
    margin-bottom: 20px;
    text-align: center;
}
.square {
    width: $mainBox;
    height: $mainBox;
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    text-align: center;
    transition: all .5s;
    p {
        width: 80%;
        margin: 0 auto;
    }
    button {
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        font-family: gudea;
        width: 180px;
        height: 60px;
        margin-top: 50px;
    }
    button:hover {
        cursor: pointer;
    }
}
.fa-key, .fa-th, .fa-mobile {
    margin-top: 50px;
}
.list {
    background-color: dimgrey;
    button {
        background-color: dimgrey;
    }
}
.resources {
    background-color: dodgerblue;
    button {
        background-color: dodgerblue;
    }
}
.mobile {
    background-color: #08B837;
    img {
        width: 150px;
        height: 50px;
        margin: 10px;
        margin-top: 50px;
    }
}
#square4, #square1 {
    width: 60%;
}
#square0 {
    width: 95%;
}

//Media queries for main styles
@media screen and (max-width: 1600px) {
    .image-cont {
        width: 90%;
    }
    .images {
        width: 30%;
        height: 300px;
    }
    .square {
        width: 29%;
        p {
            width: 95%;
        }
    }
    #square0 {
        width: 90%;
    }
}
@media screen and (max-width: 1350px) {
    .square {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    .images, .square {
        display: block;
        width: 70%;
        margin: 2px auto;
    }
    .image-cont {
        margin: 0 auto;
    }
    #square4, #square1, #square0 {
        width: 70%;
    }
}